<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- My Stylesheet -->
    <link rel="stylesheet" href="../static/style.css" />

    <title>FoodLoop</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand logo mx-4" href={{url_for('index')}}>FoodLoop</a>
          <button
            class="navbar-toggler border-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse nav-contents mt-2"
            id="navbarSupportedContent"
          >
            <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
            <div class="d-flex" role="search">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                  <a class="nav-link text-white search-link" href={{url_for('searchPage')}}>Search</a>
                </li>
                <span class="nav-item mx-2 text-white d-flex align-items-center sep">|</span>
                <li class="nav-item mx-2">
                  <a class="nav-link text-white logout" href="#" >Log Out</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </nav>

      <!-- Dashboard Section -->
      <div class="container-fluid d-flex align-items-center my-3 dashboard pb-4">
        <div class="d-flex flex-column align-items-center">

            <p class="h4 h6-sm">Macronutrients chart</p>
            <canvas id="pieChart"></canvas>
            <p class="h6 mt-3">Consumed</p>
        </div>

        <div class="macro-values">
            <p class="h4 h-sm-6 mt-2">Macronutrients</p>
            <p><span class="macro-label">Calories:</span></p>
            <p><span class="macro-label">Carbs:</span></p>
            <p><span class="macro-label">Protein:</span></p>
            <p><span class="macro-label">Fat:</span></p>

           <a href={{url_for('searchPage')}} class="btn btn-primary">Add Food</a>
          </div>
      </div>

      <div class="container-fluid d-flex my-3 pb-4 food-diary-container">

        <p class="text-center my-2 display-5"> <strong>Food Diary</strong></p>




      </div>


      

      


    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="../static/script.js"></script>
  </body>
</html>
