* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Navabr styles */

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.nav-item {
  text-transform: uppercase;
}

.login_text {
  text-align: center;
  font-size: 0.75rem;
}

/* Hero styles */

.carousel_img {
  height: 75vh;
  width: auto;
  object-fit: cover;
}

/* Features style */

.features-header {
  font-weight: 700;
}

/* ******* Dashboard Styles ******* */

.dashboard {
  border-bottom: 1px solid #8a8888;
}

.macro-label {
  font-weight: bold;
}

/* ******* Search Styles ******* */
.search-bar {
  margin: 0 13rem;
}

.search-input {
  border-radius: 2rem;
  width: 25rem;
  padding: 0.5rem 1.5rem;
}

.login-register-form {
  max-width: 500px;
}

@media (max-width: 576px) {
  #search_input {
    width: 300px;
  }

  .search-bar {
    margin: 1rem;
  }

  #logout-btn {
    margin-left: 0;
    padding-left: 0;
  }
  .sep {
    display: none;
  }

  .logout,
  .search-link {
    display: inline;
  }
}
